.contact__photo {
    float: left;

    width: 100px;
    height: 100px;
    margin-right: 20px;

    text-indent: -1000%;

    background-repeat: no-repeat;
    background-size: contain;

    transition: height .2s;
}
